<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="Gmail" type="System.Configuration.DictionarySectionHandler"/>
    <section name="Outlook" type="System.Configuration.DictionarySectionHandler"/>
  </configSections>

  <Gmail>
    <add key="Serveur" value="smtp.gmail.com"/>
    <add key="SSL" value="465"/>
    <add key="TLS" value="587"/>
  </Gmail>

  <Outlook>
    <add key="Serveur" value="SMTP.office365.com"/>
    <add key="SMTP" value="587"/>
  </Outlook>
</configuration>